server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/csmark
    username: postgres
    password: 1111
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
